html {
    font-family: 'Roboto', sans-serif;
    background-color: lightcyan;
}

h1 {
    text-align: center;
    font-family: 'Slabo 27px', serif;
}

#input_div {
    display: inline-block;
}

#input_div_container {
    text-align: center;
}

.input_div_small {
    padding: 0px;
    text-align: left;
    margin-bottom: 10px;
}


#input_button {
    text-align: center;
}



.input_text {
    display: inline;
}

input {
    float:right;
}

#input_button_div {
    margin-top: 10px;
    text-align: center;
}

#output_text {
    text-align: center;
    font-size: 2em;
}

#input_button {
}
